
// -----------------------------------------
// get our imports out of the way

@import 'colors'
@import 'constants'
@import 'fonts'

@import 'mixins'
@import 'properties'
@import 'typography'

// @import 'overrides' // overrides theme-specific , e.g. bootstrap


// -----------------------------------------
// properties

.centered
    text-align: center

.points-display
    margin-top: 1rem
    font-size: 8rem


// html elements

html, body 
    padding: 0
    margin: 0

body

    //font-family: 'Roboto Slab', 'Helvetica Neue', sans-serif
    font-family: 'Roboto', 'Helvetica Neue', sans-serif
    font-weight: 300
    color: $text_color
    padding-top: 56px

a
    color: $orange

    &:hover
        color: $dark_orange

    &.inverse
        background-color: $orange
        color: $white   

        &:hover
            background-color: $dark_orange !important

h1, h2, h3, h4, h5, h6
    font-weight: 300

// nav

.main-navigation
    position: fixed
    top: 0
    width: 100%
    font-size: 2rem 
    text-align: center
    border-bottom: 1px solid $gray
    z-index: 100
    background: $white

    h1
        display: inline
        font-size: 2.8rem
        line-height: 5.5rem
        text-transform: uppercase


.nav-button
    padding: 1rem
    color: $gray


.menu-overlay
    position: fixed
    z-index: 98
    top: 56px
    bottom: 0
    right: 0
    width: 80%
    background: $off_black
    @include grayscale-shadow( 12 , 0.3 )


// sections

section 

    width: 100%
    clear: both
    background-size: cover
    background-position: center center
   

section.footer
    margin-top: 9rem


// wrappers

.content-wrapper,
    
    max-width: $max_width
    margin: auto
    padding: 1em

    &.squashed
        padding-top: 0
        padding-bottom: 0


.image-wrapper
    position: relative
    text-align: center
    max-width: 250px
    margin: auto
     
    p
        position: absolute
        color: white
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4)
        z-index: 10
        text-transform: uppercase
        font-size: 2rem
        font-weight: 700
        text-align: center
        width: 100%
        line-height: 1em
        margin: 0
        padding: 0

        &.top
            top: 0
            margin-top: 0.4rem

        &.bottom
            bottom: 0
            margin-bottom: 0.4rem


// backgrounds

.some-bg
    background-image: url('some_url.png')


// lists

.prizes
    @include unstyled-list()
    margin-top: 3rem
    text-align: center

    li
        border-top: 1px solid #DDD
        padding-top: 1rem

        &:first-child
            border-top: none

    h4
        font-size: 1.4rem
        font-weight: 700

    .date-won
        font-size: 1rem
        color: #666


.menu-list
    @include unstyled-list()

    li
        padding: 1rem
        border-top: 1px solid #444
        text-transform: uppercase

        &:first-child
            border-top: none
    
    a
        color: $off_white 


.meme-list
    @include unstyled-list()

    img
        width: 100%
        @include black-and-white()
    
    .col-xs-4
        padding: 2px

    .cell-parent
        width: 100%

    .cell-child
        height: 100px

    .action
        color: $teal
        font-size: 3rem

    .image-wrapper
        
        p
            font-size: 1rem
            line-height: 1em

            &.top
                margin-top: 0.4rem

            &.bottom
                margin-bottom: 0.4rem

// components

.logo
    margin: 2rem 0 5rem 0


.cell-parent
    display: table
    text-align: center

.cell-child
    vertical-align: middle
    display: table-cell


// hide the last separator in an array list

.delimiter
    color: $light_gray

.some-selector
    span:last-child
        .delimiter
            display: none


// horizontal rules

hr.hairline
    background: #CCC
    height: 1px
    border: none
    width: 96%
    margin-left: auto
    margin-right: auto


// default table styles

table

    width: 100%

    tr
        &:nth-child(2n)
            background: #EEE
        &:hover
            background: $light_gray

    td
        padding: 2px


// footer stuff

.sitemap

    @include unstyled-list() 
    text-align: center
    border-top: 1px solid $light_gray
    padding-top: 1.4em

    li
        display: inline-block
        border-left: 1px solid $gray
        padding: 0 1em

        &:first-child
            border-left: none

.copyright
    text-align: center
    color: $gray
    padding: 1em


// effects

.hover-opacity
    
    &:hover
        @include opacity(64)


.wreckless

    color: #CC0000
    font-weight: 500

    img
        border: 2px solid #CC0000

    &:after
        content: '*logo will animate'
        display: block
        font-size: 1rem



// hide from mobile devices

@media screen and (max-width: 480px)

    .hide-from-mobile
        display: none


// page-specific overrides

