<section class="padded">
<div class="content-wrapper narrow">

    <h5 class="title centered">
        All About TEXi 
    </h5>
    <p class="copy">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu sodales lacus. Morbi sapien eros, iaculis sed consequat et, convallis et neque. Sed ac nisl ut augue iaculis condimentum. Etiam nec sem eget orci imperdiet ultrices sed eu enim. Sed ac dolor ex. 
    </p>

    <hr>

    <h5 class="title centered">
        Get in Touch
    </h5>
    <div class="spacer _20"></div>

    <div class="">
        <a href="mailto:info@texiapp.ca">
            <button class="btn btn-default form-control">
                <i class="fa fa-fw fa-envelope-o"></i> 
                Email Us
            </button>
        </a>
        <div class="spacer _20"></div>
        <a href="http://facebook.com/texiapp">
            <button class="btn btn-default form-control">
                <i class="fa fa-fw fa-facebook"></i> 
                Follow us on Facebook
            </button>
        </a>
    </div>

</div>
</section>

