<section class="padded">
<div class="content-wrapper narrow">

    <h5 class="title">
        You are logged in as <strong>Jane Doe</strong>
    </h5>
    <p class="copy">
        Member since May 12, 2015
    </p>

    <hr>

    <div class="">
        <a href="#/privacy">
            <button class="btn btn-default form-control">
                Privacy
            </button>
        </a>
        <div class="spacer _20"></div>
        <a href="#/terms">
            <button class="btn btn-default form-control">
                Terms &amp; Conditions
            </button>
        </a>
        <div class="spacer _20"></div>
        <a href="#/contact">
            <button class="btn btn-default form-control">
                Contact Us
            </button>
        </a>
    </div>

    <div class="spacer _80"></div>
    <a href="#/">
        <button class="btn btn-default form-control">
            Log Out
        </button>
    </a>

</div>
</section>

