<section class="padded">
<div class="content-wrapper">

    <div class="row">
        <div class="col-xs-6">
            <button class="btn btn-default form-control" ng-click="switch_to('premade')">
                Premade
            </button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-default form-control" ng-click="switch_to('custom')">
                Custom
            </button>
        </div>
    </div>

    <hr>

    <!-- premade memes -->
    <div class="meme-wrapper" ng-show="is_visible('premade')">   
        <ul class="meme-list row">
            <li ng-repeat="meme in premade" class="col-xs-4" >
                <div class="image-wrapper" ng-click="select_meme( 'premade' , $index )">
                    <p class="top">{{ meme.top }}</p>
                    <img ng-src="{{ meme.url }}" alt="{{ meme.name }}" />
                    <p class="bottom">{{ meme.bottom }}</p>
                </div>
            </li>
        </ul> 
    </div>
    
    <!-- custom memes -->
    <div class="meme-wrapper" ng-show="is_visible('custom')">   
        <ul class="meme-list row">
            <li class="col-xs-4">
                <a href="#/take-photo">
                    <div class="cell-parent">
                    <div class="cell-child">
                        <i class="fa fa-fw fa-camera"></i>
                    </div>
                    </div>
                </a>
            </li>
            <li ng-repeat="meme in custom" class="col-xs-4">
                <div class="image-wrapper" ng-click="select_meme( 'custom' , $index )">
                    <img ng-src="{{ meme.url }}" alt="{{ meme.name }}" />
                </div>
            </li>
        </ul> 
    </div>

</div>
</section>

