<section class="padded">
<div class="content-wrapper">

    <div class="prize-wrapper centered">

        <h4>
            May's Prize
        </h4>
        <img class="spaced" src="http://placehold.it/240x240" />
        <h5 class="caption">
            Prize Title
        </h5>

    </div>

    <hr>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">

            <h5 class="title">
                Contest description
            </h5>
            <p class="copy">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac sapien at nisl tincidunt consectetur ac eget nulla. Sed luctus egestas orci a pretium. Vivamus malesuada diam a dolor auctor fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fa
            </p>

            <button class="btn btn-default">
                Contest details and rules
            </button>

        </div>
    </div>

</div>
</section>

