<section class="padded">
<div class="content-wrapper">

    <div class="image-wrapper">
        <p class="top">{{ current_meme.top }}</p>
        <img ng-src="{{ current_meme.url }}" alt="{{ current_meme.name }}" />
        <p class="bottom">{{ current_meme.bottom }}</p>
    </div>

    <div class="row centered">
        <div class="col-xs-12">
            <input type="text" ng-model="current_meme.top" />
        </div>
        <div class="col-xs-12">
            <input type="text" ng-model="current_meme.bottom" />
        </div>
    </div>

</div>
</section>


<section class="padded">
<div class="content-wrapper">

    <button class="btn btn-default" ng-click="save()">
        Save
    </button>

</div>
</section>

