<section class="padded centered">
<div class="content-wrapper narrow">

    <h5 class="title">
        Forgot your password?
    </h5>
    <p class="copy">
        No problem! Enter your email below and we will send you instructions to reset your password.
    </p>

</div>
</section>


<section class="centered">
<div class="content-wrapper narrow">

    <div class="spaced">
        <div class="spaced-element">
            <input class="form-control" type="text" placeholder="email" ng-model="email" />
        </div>
    </div>

</div>
</section>


<section class="padded centered">
<div class="content-wrapper narrow">

    <a href="#/reset">
        <button class="btn btn-default form-control">
            Send reset instructions
        </button>
    </a>

</div>
</section>

