
<section class="centered">
<div class="content-wrapper">

    <h1 class="home-logo spaced" ng-class="{wreckless: is_wreckless() }">
        <img src="http://placehold.it/88x100" />
    </h1>

    <button class="btn btn-default" ng-click="toggle_wreckless()" ng-class="{ wreckless: is_wreckless() }">
        Start / Stop Texi
    </div>

</div>
</section>


<section class="centered">
<div class="content-wrapper">

    <div class="points-wrapper">
        <p class="subtitle">
            You have
        </p>
        <p class="points">
            915
        </p>
        <p class="subtitle">
            Points
        </p>
    </div>

    <a href="#/my-points">
        <button class="btn btn-default">
            Redeem
        </button>
    </a>

</div>
</section>


<section class="padded centered">
<div class="content-wrapper">

    <h5 class="title">
        Your Memes
    </h5>

    <div ng-if="user_has_memes()">
        <div class="meme-wrapper">   
            <ul class="meme-list row">

                <li ng-repeat="meme in user_memes track by $index" class="col-xs-4" >
                    <div class="image-wrapper" ng-click="review_meme( 'user_memes' , $index )">
                        <p class="top">{{ meme.top }}</p>
                        <img ng-src="{{ meme.url }}" alt="{{ meme.name }}" />
                        <p class="bottom">{{ meme.bottom }}</p>
                    </div>
                </li>

            </ul> 
        </div>
    </div>
    <div ng-if="!user_has_memes()">
        <p class="copy">
            You do not have any memes in your library.
        </p>
    </div>

    <a href="#/meme-library">
        <button class="btn btn-default">
            Meme Library
        </div>
    </a>

</div>
</section>


<div class="spacer _80"></div>
<div class="fixed-to-bottom">
    <img class="fullwidth" src="http://placehold.it/320x60" />
</div>

