
<section class="padded centered">
<div class="content-wrapper">

    <h1 class="logo centered">
        <img src="http://placehold.it/88x100" />
    </h1>

    <p>
        This is a placeholder description of what the application does.
    </p>

</div>
</section>


<div class="banner-ad">

    <div class="row">
        <div class="col-xs-6">

            <button class="btn btn-default fullwidth">
                <a href="#/home/">
                    Login
                </a>
            </button>

        </div>
        <div class="col-xs-6">

            <button class="btn btn-default fullwidth">
                <a href="#/register/">
                    Sign Up
                </a>
            </button>

        </div>
    </div>

</div>

