<section class="padded">
<div class="content-wrapper centered">

    <table class="leaderboard">
        <tr ng-repeat="user in leaderboard" ng-class="{ selected: user.selected }">
            <td class="rank">
                {{ user.rank }}
            </td>
            <td>
                {{ user.first_name }}
            </td>
            <td>
                {{ user.last_name }}
            </td>
            <td>
                {{ user.location }}
            </td>
        </tr>
    </table>

    <hr>

    <h4 class="">
        Even more points
    </h4>

    <hr>

    <div class="row">
        <div class="col-xs-6">
            <button class="btn btn-default fullwidth">
                Share <br>
                +200 Points
            </button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-default fullwidth">
                Rate <br>
                +150 Points
            </button>
        </div>
    </div>

</div>
</section>

