<section class="padded centered">
<div class="content-wrapper tight">

    <button class="btn btn-primary form-control facebook">
        <i class="fa fa-fw fa-facebook"></i> Log in with Facebook
    </button>

</div>
</section>


<section class="centered">
<div class="content-wrapper tight">

    <div class="spaced">
        <div class="spaced-element">
            <input class="form-control" type="text" placeholder="username" ng-model="login.username" />
        </div>
        <div class="spaced-element">
            <input class="form-control" type="password" placeholder="password" ng-model="login.password" />
        </div>
    </div>

</div>
</section>


<section class="padded centered">
<div class="content-wrapper tight">

    <a href="#/home">
        <button class="btn btn-default form-control">
            Login 
        </button>
    </a>

    <div class="spaced">
        <a href="#/forgot">
            Forgot your password?
        </a>
    </div>

</div>
</section>

