<!-- the navbar -->
<div class="section main-navigation">

    <!-- show the back arrow if not on the home page -->
    <div ng-if="nav_has_back()">
        <div class="nav-button pull-left" ng-click="go_back()">
            <i class="fa fa-fw fa-arrow-left"></i> 
        </div>
    </div>

    <!-- show the notifications popup if the user is on the home page -->
    <div ng-if="nav_has_notifications()">
        <div class="nav-button pull-left">
            <i class="fa fa-fw fa-star-o"></i> 
        </div>
    </div>
    
    <div ng-if="nav_has_menu()">
        <div class="nav-button pull-right" ng-click="toggle_overlay()">
            <i class="fa fa-fw fa-bars"></i> 
        </div>
    </div>

    <a href="#/home">
        <h1 class="app-name">{{ current_section }}</h1>
    </a>


</div>


<!-- menu overlay -->
<div class="menu-overlay" ng-show="is_overlay_visible()">
<div class="content-wrapper">

    <ul class="menu-list">
        <li>
            <a href="#/my-points">
                My Points
            </a>
        </li>
        <li>
            <a href="#/meme-library">
                Meme Library
            </a>
        </li>
        <li>
            <a href="#/leaderboard">
                Leaderboard
            </a>
        </li>
        <li>
            <a href="#/account">
                Account
            </a>
        </li>
        <li>
            <a href="#/about">
                About TEXi
            </a>
        </li>
        <li>
            <a href="#/share">
                Share the App
            </a>
        </li>
    </ul>

    <div class="well">
        <h4 class="centered">
            248 Points
        </h4>
    </div>

</div>
</div>

