<section class="padded">
<div class="content-wrapper">

    <div class="well centered">
        <h3 class="">
            Total Points
        </h3>
        <h5 class="points-display spaced">
            248
        </h5>
        <button class="btn btn-default">
            Click here to redeem points
        </button>
    </div>

    <!--

    <hr>

    <p class="well">
        You are currently in <strong>Tier 5</strong>, and may redeem 200 of your points for a Level 2 prize. Next tier at: 250 points. 
        <br>
        <br>
        <button class="btn btn-default">
            Click here to redeem points
        </button>
    </p>

    <hr>

    <h3 class="centered">
        Past Prizes Won
    </h3>
    <ul class="prizes">
        <li>
            <h4>
                $20 ESSO Gift Card
            </h4>
            <p class="date-won">
                April 2nd, 2015
            </p>
        </li>
        <li>
            <h4>
                $5 off at Starbucks
            </h4>
            <p class="date-won">
                March 16th, 2015
            </p>
        </li>
        <li>
            <h4>
                $5 off at Starbucks
            </h4>
            <p class="date-won">
                March 4th, 2015
            </p>
        </li>
    </ul>

    <hr>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">

            <h5 class="title">
                Contest description
            </h5>
            <p class="copy">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac sapien at nisl tincidunt consectetur ac eget nulla. Sed luctus egestas orci a pretium. Vivamus malesuada diam a dolor auctor fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fa
            </p>

            <button class="btn btn-default">
                Contest details and rules
            </button>

        </div>
    </div>

    -->

</div>
</section>

