<section class="padded">
<div class="content-wrapper narrow">

    <h5 class="title">
        Everything you ever needed to know about points
    </h5>

    <hr>

    <ul class="faqs">
        <li>
            <h4>
                What happens if this?
            </h4>
            <p class="copy">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac sapien at nisl tincidunt consectetur ac eget nulla. Sed luctus egestas orci a pretium. 
            </p>
        </li>
        <li>
            <h4>
                How about that?
            </h4>
            <p class="copy">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac sapien at nisl tincidunt consectetur ac eget nulla. Sed luctus egestas orci a pretium. 
            </p>
        </li>
        <li>
            <h4>
                Why not this?
            </h4>
            <p class="copy">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac sapien at nisl tincidunt consectetur ac eget nulla. Sed luctus egestas orci a pretium. 
            </p>
        </li>
    </ul>

    <hr>

    <h5 class="title">
        Legal
    </h5>
    <p class="copy">
        Sed feugiat pretium faucibus. Nullam fringilla sapien id purus dignissim pellentesque. Vestibulum sagittis porttitor nibh, at varius risus sagittis a. Integer tellus dolor, aliquet sit amet sollicitudin quis, placerat eget dolor. Phasellus ac fringilla dui. Integer non sem nec nisi porta vestibulum. Nam porta vel nulla in congue.
    </p>
    <p class="copy">
        Fusce ligula lectus, iaculis ut commodo sed, laoreet nec tellus. Fusce urna nisl, laoreet porta maximus sed, blandit ac lectus. Maecenas in semper nisi. Quisque in convallis augue. Nunc auctor rutrum viverra. Etiam et libero aliquam, maximus enim et, vestibulum nulla. Nulla sit amet nisi dictum, tempus mauris quis, suscipit mauris. Etiam eget nisi interdum, ornare urna in, ultrices sapien.
    </p>

</div>
</section>

