<section class="padded">
<div class="content-wrapper">

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">

            <p class="copy">
                <strong>Everything you ever needed to know about points</strong>
            </p>

            <ul class="faqs">
                <li>
                    <h4>
                        What happens if this?
                    </h4>
                    <p class="copy">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac sapien at nisl tincidunt consectetur ac eget nulla. Sed luctus egestas orci a pretium. 
                    </p>
                </li>
                <li>
                    <h4>
                        How about that?
                    </h4>
                    <p class="copy">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac sapien at nisl tincidunt consectetur ac eget nulla. Sed luctus egestas orci a pretium. 
                    </p>
                </li>
                <li>
                    <h4>
                        Why not this?
                    </h4>
                    <p class="copy">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac sapien at nisl tincidunt consectetur ac eget nulla. Sed luctus egestas orci a pretium. 
                    </p>
                </li>
            </ul>

        </div>
    </div>

</div>
</section>

