<section class="padded centered">
<div class="content-wrapper narrow">

    <h5 class="title">
        Register for a new account
    </h5>
    <p class="copy">
        Please fill out the form below. 
    </p>

    <div class="spacer _20"></div>

    <div class="spaced">
        <div class="spaced-element">
            <input class="form-control" type="text" placeholder="first_name" ng-model="first_name" />
        </div>
    </div>
    <div class="spaced">
        <div class="spaced-element">
            <input class="form-control" type="text" placeholder="last_name" ng-model="last_name" />
        </div>
    </div>
    <div class="spaced">
        <div class="spaced-element">
            <input class="form-control" type="text" placeholder="email" ng-model="email" />
        </div>
    </div>
    <div class="spaced">
        <div class="spaced-element">
            <input class="form-control" type="text" placeholder="location" ng-model="location" />
        </div>
    </div>
    <div class="spaced">
        <div class="spaced-element">
            <input class="form-control" type="password" placeholder="new password" ng-model="password" />
        </div>
    </div>
    <div class="spaced">
        <div class="spaced-element">
            <input class="form-control" type="password" placeholder="confirm password" ng-model="confirm" />
        </div>
    </div>

</div>
</section>


<section class="centered">
<div class="content-wrapper narrow">

    <a href="#/login">
        <button class="btn btn-default form-control">
            Create my account
        </button>
    </a>

</div>
</section>

