<section class="padded centered">
<div class="content-wrapper narrow">

    <h5 class="title">
        Reset Password
    </h5>
    <p class="copy">
        We sent you an email with a reset code. Please enter the code and your new password.
    </p>

</div>
</section>


<section class="centered">
<div class="content-wrapper narrow">

    <div class="spaced">
        <div class="spaced-element">
            <input class="form-control" type="text" placeholder="reset code" ng-model="reset_code" />
        </div>
    </div>
    <div class="spaced">
        <div class="spaced-element">
            <input class="form-control" type="password" placeholder="new password" ng-model="password" />
        </div>
    </div>
    <div class="spaced">
        <div class="spaced-element">
            <input class="form-control" type="password" placeholder="confirm password" ng-model="confirm" />
        </div>
    </div>

</div>
</section>


<section class="padded centered">
<div class="content-wrapper narrow">

    <a href="#/login">
        <button class="btn btn-default form-control">
            Reset my password
        </button>
    </a>

</div>
</section>

