<section class="padded">
<div class="content-wrapper">

    <div class="image-wrapper">
        <p class="top">{{ current_meme.top }}</p>
        <img ng-src="{{ current_meme.url }}" alt="{{ current_meme.name }}" />
        <p class="bottom">{{ current_meme.bottom }}</p>
    </div>

</div>
</section>


<section class="padded">
<div class="content-wrapper">

    <a href="#/share">
        <button class="btn btn-default">
            Share
        </button>
    </a>

    <a href="#/edit">
        <button class="btn btn-default">
            Edit
        </button>
    </a>

    <button class="btn btn-default" ng-click="remove()">
        Delete
    </button>

</div>
</section>

