<section class="padded">
<div class="content-wrapper narrow">

    <h5 class="title centered">
        Spread the word.<br> Win extra points!
    </h5>

    <hr>

    <div class="">
        <a href="http://facebook.com/texiapp">
            <button class="btn btn-default form-control">
                <i class="fa fa-fw fa-facebook"></i> 
                Share on Facebook
            </button>
        </a>
        <div class="spacer _20"></div>
        <a href="http://twitter.com/texiapp">
            <button class="btn btn-default form-control">
                <i class="fa fa-fw fa-twitter"></i> 
                Tweet About it
            </button>
        </a>
        <div class="spacer _20"></div>
        <a href="mailto:?body=Check out TEXi&subject=Check out this awesome app!">
            <button class="btn btn-default form-control">
                <i class="fa fa-fw fa-envelope-o"></i> 
                Email a Friend
            </button>
        </a>
        <div class="spacer _20"></div>
        <a href="http://instagram.com/texiapp">
            <button class="btn btn-default form-control">
                <i class="fa fa-fw fa-instagram"></i> 
                Share on Instagram
            </button>
        </a>
    </div>

</div>
</section>

