<section class="padded centered">
<div class="content-wrapper">

    <div class="points-wrapper">
        <p class="subtitle">
            You earned
        </p>
        <p class="points">
            115
        </p>
        <p class="subtitle">
            Points
        </p>
    </div>

    <hr>

    <table class="prizes">
        <tr>
            <td class="icon">
                <i class="fa fa-fw fa-image"></i>
            </td>
            <td class="description">
                Memes Sent
            </td>
            <td class="points">
                12
            </td>
        </tr>
        <tr>
            <td class="icon">
                <i class="fa fa-fw fa-car"></i>
            </td>
            <td class="description">
                Distance Travelled
            </td>
            <td class="points">
                54 km
            </td>
        </tr>
    </table>

    <hr>

    <div class="">
        <a href="#/tbd-messages">
            <button class="btn btn-default form-control">
                View Messages
            </button>
        </a>
        <div class="spacer _20"></div>
        <a href="#/home">
            <button class="btn btn-default form-control">
                Back to TEXi
            </button>
        </a>
    </div>

</div>
</section>


<div class="spacer _80"></div>
<div class="fixed-to-bottom">
    <img class="fullwidth" src="http://placehold.it/320x60" />
</div>
