<section class="padded camera-view">
<div class="content-wrapper" style="position: relative;">

    <table class="fill-space">
        <tr>
            <td>
                <span class="crosshairs">
                    [&nbsp;&nbsp;&nbsp;]
                </span>
            </td>
        </tr>
    </table> 

</div>
</section>


<div class="banner-ad">
    <div class="content-wrapper centered">
        <a href="#">
            <button class="btn btn-default">
                <i class="fa fa-fw fa-camera"></i>
            </button>
        </a>
    </div>
</div>

