<section class="padded camera-view">
<div class="content-wrapper" style="position: relative;">

    <table class="fill-space">
        <tr>
            <td>
                <span class="crosshairs">
                    [&nbsp;&nbsp;&nbsp;]
                </span>
            </td>
        </tr>
    </table> 

</div>
</section>


<div class="fixed-to-bottom">
    <div class="content-wrapper centered">
        <button class="btn btn-default" ng-click="go_back()">
            <i class="fa fa-fw fa-close"></i> Cancel
        </button>
        <button class="btn btn-default">
            <i class="fa fa-fw fa-crop"></i> Crop
        </button>
        <button class="btn btn-default">
            <i class="fa fa-fw fa-camera"></i> Filter
        </button>
        <button class="btn btn-default">
            <i class="fa fa-fw fa-refresh"></i> Rotate
        </button>
        <button class="btn btn-default" ng-click="use_photo()">
            <i class="fa fa-fw fa-save"></i> Save
        </button>
    </div>
</div>

